#wrap {
  margin:0 auto;
}

/* for the tree display */
#treeBlock {
  float:left;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.limitWidth_500 {
    max-width : 500px;
}

/* for the calender display */
#calendar {
    float:left;
    margin-right: 500px;
    padding-right: 20px;
    
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    
    width: 900px;
	margin: 0 auto;
}