doctype 5
html
  head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://malsup.github.com/jquery.form.js')
    script(src='/external/jquery.validate.js')
    script(src='/external/jquery.inputmask.bundle.min.js')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content