extends layout

mixin link(href, name)
  a(class=attributes.class, href=href)= name

block content
  h1 #{title} 
  
  - for (var i = 0; i<links.length; ++i)
    br
    div 
        +link(links[i], links[i]) 
  