extends layout

mixin link(href, name)
  a(class=attributes.class, href=href)= name

block content
  h1 #{title} 
  
  - for (var i = links.length-1; i>=0; --i)
    br
    div 
        +link(links[i], links[i]) 
  