extends layout

block content
  script(src='/javascripts/ui_showList.js')
  h1 #{title} 
  
  form
    input(name="begin", type='text', size="60")
  
  div(id="expList", linkName= linkName) 
      ul
        li(hash= listHash, id= listHash ) 

  form 
    input(name="end", type='text', size="60")
    
  
  
  